.calc {
    background-color: #e1e1e1;
    width: 230px;
    height: 300px;
    display: grid;
    gap: 10px;
    grid-template-rows: 1fr 4fr;
}

.calc .top {
    background-color: green;
    display: grid;
    gap: 10px;
    grid-template-columns: 3fr 1fr;
    padding: 5px;
}

.calc .top .screen {
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;

}

.calc .top .screen h2, 
.calc .top .screen h5 {
    margin: 0;
}

.calc .top .cancel {
    background-color: orange;
    display: flex;
}

.calc .top .cancel .Btn {
    width: 100%;
}

.calc .body {
    background-color: green;
    display: grid;
    gap: 10px;
    grid-template-columns: 3fr 1fr;
    padding: 5px;
}

.calc .body .digits {
    background-color: orange;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.calc .body .operators {
    background-color: orange;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}